# Pastas geradas pela Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# Arquivos de projeto gerados
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.tmp
*.booproj
*.pdb
*.svd

# ScriptableObjects salvos (oculta só os assets, não os scripts)
*.asset

# Dados locais da IDE
.vscode/
.idea/
*.DotSettings.user

# Arquivos inúteis do sistema
.DS_Store
Thumbs.db
desktop.ini 