[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
.DS_Store
Thumbs.db
UserSettings/
*.userprefs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
.vscode/
.idea/
*.sln.DotSettings.user
.gradle/
*.apk
*.aab
*.keystore
MemoryCaptures/
*.log
UnityPackageManager/
Packages/com.unity.package-manager-ui/
.collab/
*.orig